<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/unit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConverterApplication"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Pressure"
            android:exported="false" />
        <activity
            android:name=".Power"
            android:exported="false" />
        <activity
            android:name=".Length"
            android:exported="false" />
        <activity
            android:name=".Volume"
            android:exported="false" />
        <activity
            android:name=".Area"
            android:exported="false" />
        <activity
            android:name=".Speed"
            android:exported="false" />
        <activity
            android:name=".Pound"
            android:exported="false" />
        <activity
            android:name=".Kilogram"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>